
<% @friends.each do |friend| %>

<div class="col-xs-6 col-md-6 ">

  <div class="friends-card front-shadow">

    <div class="friends-card-front">

      <div class="friends-card-front-main-info">

        <div class="friends-card-user-avatar">
          <%= cl_image_tag friend.avatar, crop: :thumb %>
        </div>

        <div class="friends-card-user-name">
          <p class="friends-card-user-name-text text-center"><%= friend.first_name %> <%= friend.last_name %></p>
        </div>
      </div>

      <div class="friends-card-front-arrow">
        <%= image_tag 'cards_front_arrow.svg' %>
      </div>

      <div class="friends-card-button-content">
        <div class="friends-card-corner-button"></div>
        <div class="friends-card-hazard-warnings hidden">
          <div class="friends-card-hazard-warnings-container">
            <p><%= image_tag 'cards_fire.svg' %> Kind</p>
          </div>
           <div class="friends-card-hazard-warnings-container">
            <p><%= image_tag 'cards_location.svg' %> Location</p>
          </div>
           <div class="friends-card-hazard-warnings-container">
            <p><%= image_tag 'cards_loading.svg' %> Status</p>
          </div>



        </div>
      </div>

    </div>

    <div class="friends-card-back hide">
      <div class="friends-card-back-arrow">
        <%= image_tag 'cards_back_arrow.svg' %>
      </div>

      <div class="friends-card-actions">
        <%= link_to friendship_path(current_user.friendship_with(friend)), method: :delete do %>
        <p><%= image_tag 'cards_delete.svg' %> Unfriend</p>
        <% end %>
      </div>
    </div>
  </div>

</div>
<% end %>

