<% @outgoing.each do |out| %>
  <div class="card-notifications">
    <div class="card-notification-sidebar <%= out.read_by_friend == true ? "read-sidebar" : "unread-sidebar" %>"></div>
    <div class="card-notifications-content <%= out.read == true ? "read" : "unread" %>">
      <%= simple_form_for(out, :url => friend_request_read_by_friend_path(out), method: :patch) do |f| %>
      <%= f.hidden_field :read_by_friend, :value => true %>
      <%= button_tag type: :submit, class: "read-notification-button" do %>
        <div class="user-card-info">
          <div class="small-notifications-card-user-avatar">
            <%= cl_image_tag User.find(out.friend_id).avatar, crop: :thumb %>
          </div>
          <p>You are now friends with
        <%= User.find(out.friend_id).first_name %> <%= User.find(out.friend_id).last_name %>
          </p>
        </div>
      <% end %>
    <% end %>

    </div>
  </div>
<% end %>
