<div class="form-container">
  <h3>Update</h3>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>
  <%#= f.input :avatar, label: 'Photo' %>
  <%#= f.input :avatar_change, as: :hidden %>
  <div class="edit-form">
  <div class="form-user-name">
    <%= f.input :first_name, required: true, label: '&nbsp;'.html_safe, placeholder: 'First name', label_html: { class: 'icons user-icon' } %>
    <%= f.input :last_name, required: true, label: '&nbsp;'.html_safe, placeholder: 'Last name', label_html: { class: 'icons user-icon' } %>
  </div>
  <%= f.input :email, label: '&nbsp;'.html_safe, required: true, autofocus: true, label_html: { class: 'icons envelope-icon' } %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>
  <%= f.input :current_password, label: '&nbsp;'.html_safe, required: true, label_html: { class: 'icons lock-icon' }, placeholder: "current password" %>
  <%= f.input :password, label: '&nbsp;'.html_safe, autocomplete: "off", placeholder: "new password (optional)", required: false, label_html: { class: 'icons lock-icon' } %>
  <%= f.input :password_confirmation, label: '&nbsp;'.html_safe, placeholder: "confirm new password", required: false, label_html: { class: 'icons lock-icon' } %>
  <div class="form-actions">
    <%= f.button :submit, "Update", class: "form-button" %>
  </div>
  </div>
  <% end %>

  <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to user_path(current_user) do %>
    <svg style="margin-top: 10px;" width="30px" height="22px" viewBox="0 0 512 376" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="right-arrow-(1)-copy" transform="translate(256.000000, 188.000000) rotate(180.000000) translate(-256.000000, -188.000000) " fill="#000000" fill-rule="nonzero">
          <path d="M511.352,184.778 C511.139,184.254 510.766,183.84 510.457,183.374 C510.18,182.953 510.009,182.484 509.65,182.107 L338.983,2.907 C335.716,-0.514 330.316,-0.635 326.916,2.611 C323.499,5.861 323.366,11.261 326.616,14.673 L483.556,179.456 L8.533,179.456 C3.816,179.456 0,183.277 0,187.989 C0,192.701 3.817,196.522 8.533,196.522 L483.556,196.522 L326.616,361.305 C323.366,364.717 323.499,370.118 326.916,373.368 C328.566,374.943 330.683,375.722 332.799,375.722 C335.049,375.722 337.299,374.835 338.982,373.072 L509.649,193.872 C510.008,193.494 510.18,193.026 510.456,192.605 C510.765,192.139 511.137,191.725 511.351,191.201 C512.19,189.142 512.19,186.838 511.352,184.778 Z" id="Shape"></path>
        </g>
      </g>
    </svg>
  <% end %>
</div>
