<div class="picture-background">
  <h2 class="landing-logo sign-in-logo">Stay Safe</h2>
<div class="form-container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <label class='add-avatar-button'>Choose picture
<span style='display: none;'>
    <%= f.input :avatar %>
    <%= f.input :avatar_cache, as: :hidden %>
</span>
</label>
    <div class="form-user-name">

      <%= f.input :first_name, required: true, label: '&nbsp;'.html_safe, placeholder: 'First name', label_html: { class: 'icons user-icon' } %>
      <%= f.input :last_name, required: true, label: '&nbsp;'.html_safe, placeholder: 'Last name', label_html: { class: 'icons user-icon' } %>
    </div>
    <%= f.input :email, required: true, autofocus: true, placeholder: 'email', label_html: { class: 'icons envelope-icon' } %>
    <% if @minimum_password_length %>
    <%= f.input :password, required: true, placeholder: "password (#{@minimum_password_length} chars minimum)", label_html: { class: 'icons lock-icon' } %>
    <% end %>
    <%= f.input :password_confirmation, :placeholder => "confirm password", label_html: { class: 'icons lock-icon' } %>
    <%= f.button :submit, "Sign up", class: "form-button" %>
  <% end %>
  <p class="sign-in-sign-up"><%= render "devise/shared/links" %></p>
</div>
</div>
