<div class="page-intro">
  <p>Current Hazards</p>
</div>
<% @hazards.each do |hazard| %>
  <div class="hazard-card <%= hazard.kind == "Forest fire" ? "hazard-forest" : "hazard-building" %>">
    <p><%= image_tag 'cards_fire.svg' %> <%= hazard.kind %></p>
    <p><%= image_tag 'cards_location.svg' %> <%= hazard.location %></p>
    <p><%= image_tag 'cards_loading.svg' %> <%= hazard.status %></p>
  </div>
<% end %>

<!--forest
https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4bb45f83ac28335f5bbac4f520cd97f&auto=format&fit=crop&w=668&q=80

https://images.unsplash.com/photo-1426170042593-200f250dfdaf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae60fd0bedd32db25484044c0cef29f1&auto=format&fit=crop&w=2978&q=80

https://images.unsplash.com/photo-1477696957384-3b1d731c4cff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27463acb8518d4e6819d6f4441c8e47f&auto=format&fit=crop&w=1650&q=80
building

https://images.unsplash.com/photo-1517516167670-e3264dc45720?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc3e715a41fcd3400e609440cb9b8cba&auto=format&fit=crop&w=1647&q=80

https://images.unsplash.com/photo-1525207934214-58e69a8f8a3e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=90c8d48385ad22bf512cbaa750aede1c&auto=format&fit=crop&w=1650&q=80
-->
