<h1>Users</h1>


<%= cl_image_tag @user.avatar, crop: :thumb %>
<p><%= @user.first_name%> <%= @user.last_name %></p>
<p><%= @user.email %></p>

<%= link_to 'Edit your profile', edit_user_registration_path %>

<p>Click to turn safety check on:</p>
<button id='location'">OK</button>
<% content_for :after_js do %>
<script>
  const button = document.getElementById('location')
  button.addEventListener("click", function () {
     document.app.setCurrentLocation()
  })
</script>
<% end %>
