

<div class="navbar-container">

  <div class="navbar-button hazards">
    <%= link_to hazards_path do %>
    <svg class="navbar-icon <%= "active" if action_name == "index" && controller_name == "hazards" %>" width="136px" height="136px" viewBox="0 0 136 136" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M134.803244,121.137078 L75.1358278,4.74048751 C73.6278728,1.79877318 70.9203539,0 67.9998035,0 C65.0792531,0 62.3717342,1.79846073 60.8637792,4.74048751 L1.19689448,121.137078 C-0.354888645,124.164404 -0.400841826,127.940359 1.07709746,131.018301 C2.55503675,134.096556 5.32736824,136 8.33265312,136 L127.66722,136 C130.672504,136 133.444836,134.096244 134.922775,131.018301 C136.400714,127.940046 136.355027,124.164404 134.803244,121.137078 Z M68.0444286,50.0458336 C71.4712608,50.0458336 74.3708268,51.9687091 74.3708268,55.3769385 C74.3708268,65.7767937 73.140716,80.7217474 73.140716,91.1216027 C73.140716,93.8310129 70.153228,94.9668252 68.0444286,94.9668252 C65.2330502,94.9668252 62.8604848,93.8307487 62.8604848,91.1216027 C62.8604848,80.7217474 61.6306395,65.7767937 61.6306395,55.3769385 C61.6306395,51.9687091 64.4420179,50.0458336 68.0444286,50.0458336 Z M68.1323505,114.456349 C64.2664396,114.456349 61.366608,111.31021 61.366608,107.727077 C61.366608,104.056494 64.266174,100.997806 68.1323505,100.997806 C71.7347611,100.997806 74.8101711,104.056494 74.8101711,107.727077 C74.8101711,111.31021 71.7347611,114.456349 68.1323505,114.456349 Z" id="Shape" fill="#91A5C3" fill-rule="nonzero"></path>
      </g>
    </svg>
    <% end %>
  </div>

  <div class="navbar-button profile">
    <%= link_to '/' do %>
    <svg class="navbar-icon <%= "active" if action_name == "show" && controller_name == "users" %>" width="121px" height="138px" viewBox="0 0 121 138" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M60.5,69 C79.5953125,69 95.0714286,53.5558594 95.0714286,34.5 C95.0714286,15.4441406 79.5953125,0 60.5,0 C41.4046875,0 25.9285714,15.4441406 25.9285714,34.5 C25.9285714,53.5558594 41.4046875,69 60.5,69 Z M84.7,77.625 L80.1895089,77.625 C74.1935268,80.3742187 67.5223214,81.9375 60.5,81.9375 C53.4776786,81.9375 46.8334821,80.3742187 40.8104911,77.625 L36.3,77.625 C16.259375,77.625 0,93.8507812 0,113.85 L0,125.0625 C0,132.205078 5.80691964,138 12.9642857,138 L108.035714,138 C115.19308,138 121,132.205078 121,125.0625 L121,113.85 C121,93.8507812 104.740625,77.625 84.7,77.625 Z" id="user_full-copy" fill="#91A5C3" fill-rule="nonzero"></path>
      </g>
    </svg>
    <% end %>
  </div>

  <div class="navbar-button add-user">
    <%= link_to users_path do %>
    <svg class="navbar-icon <%= "active" if action_name == "index" && controller_name == "users" %>" width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M50,0 C22.4307692,0 0,22.4288462 0,50 C0,77.5711538 22.4307692,100 50,100 C77.5692308,100 100,77.5711538 100,50 C100,22.4288462 77.5692308,0 50,0 Z M74.0384615,53.8461538 L53.8461538,53.8461538 L53.8461538,75 C53.8461538,77.1230769 52.1230769,78.8461538 50,78.8461538 C47.8769231,78.8461538 46.1538462,77.1230769 46.1538462,75 L46.1538462,53.8461538 L25.9615385,53.8461538 C23.8384615,53.8461538 22.1153846,52.1230769 22.1153846,50 C22.1153846,47.8769231 23.8384615,46.1538462 25.9615385,46.1538462 L46.1538462,46.1538462 L46.1538462,26.9230769 C46.1538462,24.8 47.8769231,23.0769231 50,23.0769231 C52.1230769,23.0769231 53.8461538,24.8 53.8461538,26.9230769 L53.8461538,46.1538462 L74.0384615,46.1538462 C76.1615385,46.1538462 77.8846154,47.8769231 77.8846154,50 C77.8846154,52.1230769 76.1615385,53.8461538 74.0384615,53.8461538 Z" id="Shape" fill="#91A5C3" fill-rule="nonzero"></path>
      </g>
    </svg>
    <% end %>
  </div>

  <div class="navbar-button friends">
    <%= link_to friendships_path do %>
    <svg class="navbar-icon <%= "active" if action_name == "index" && controller_name == "friendships" %>" width="178px" height="179px" viewBox="0 0 178 179" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M142,85.75 C153.582812,85.75 163,76.3328125 163,64.75 C163,53.1671875 153.582812,43.75 142,43.75 C130.417188,43.75 121,53.1671875 121,64.75 C121,76.3328125 130.417188,85.75 142,85.75 Z M154.230791,91.5 L130.961583,91.5 C124.562551,91.5 118.781607,94.5785156 114.564062,99.5648437 C130.961583,108.873039 142.834915,126.191875 142.834915,147 L165.865396,147 C172.300786,147 177.5,140.799609 177.5,133.125 L177.5,119.25 C177.5,103.944141 167.065214,91.5 154.230791,91.5 Z M68.875,98.5 C95.8871652,98.5 117.75,76.6371652 117.75,49.625 C117.75,22.6128348 95.8871652,0.75 68.875,0.75 C41.8628348,0.75 20,22.6128348 20,49.625 C20,76.6371652 41.8628348,98.5 68.875,98.5 Z M95.9,102.5 L92.9388021,102.5 C85.5179687,106.458333 77.2765625,107.685631 68.5,107.685631 C59.7234375,107.685631 51.5177083,106.458333 44.0611979,102.5 L41.1,102.5 C18.409375,102.5 0,122.925 0,148.1 L0,159.5 C0,169.989583 7.67057292,178.5 17.125,178.5 L119.875,178.5 C129.329427,178.5 137,169.989583 137,159.5 L137,148.1 C137,122.925 118.590625,102.5 95.9,102.5 Z" id="group_full" fill="#91A5C3" fill-rule="nonzero"></path>
      </g>
    </svg>
    <% end %>
  </div>

  <div class="navbar-button notifications">
    <%= link_to friend_requests_path do %>
      <svg class="navbar-icon <%= "active" if action_name == "index" && controller_name == "hazard_notifications" %>" width="170px" height="170px" viewBox="0 0 170 170" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M164.643494,121.543027 C156.20041,114.155332 145.714291,104.961055 145.714291,69.0625 C145.714291,42.7012109 123.769485,20.8286523 94.9939394,16.6580078 C96.3963333,14.8856926 97.1461297,12.7806561 97.1428464,10.625 C97.1428464,4.75701172 91.7062598,0 84.9999852,0 C78.2937107,0 72.8571241,4.75701172 72.8571241,10.625 C72.8571241,12.8662109 73.652102,14.9440625 75.006031,16.6580078 C46.2304858,20.8286523 24.2856795,42.7012109 24.2856795,69.0625 C24.2856795,104.961055 13.7961448,114.155332 5.35306163,121.543027 C-6.08741089,131.553438 2.02060517,148.75 18.2324632,148.75 L60.7142629,148.75 C60.7142629,151.709423 61.4056671,154.527557 62.6548446,157.087473 C64.3796799,160.622147 67.1679349,163.664519 70.6678251,165.906779 C74.6849925,168.48044 79.639697,170 84.9999852,170 C93.3966771,170 100.798145,166.271295 105.15967,160.603014 C107.765076,157.217003 109.285708,153.138874 109.285708,148.75 L151.764092,148.75 C167.943696,148.75 176.107113,131.573691 164.643494,121.543027 Z" id="Shape" fill="#91A5C3" fill-rule="nonzero"></path>
        </g>
      </svg>
    <% end %>
  </div>

</div>

