
<!-- <h1>Friendships of <%#= current_user.first_name %></h1>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Unfriend</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%# @friends.each do |friend| %>
    <tr>
      <td><%#= friend.first_name %></td>
      <td><%#= friend.last_name %></td>
      <td><%#= friend.email %></td>
      <td><%#= link_to "Unfriend", friendship_path(current_user.friendship_with(friend)), method: :delete, class: "btn btn-danger"%>
      </td>
    </tr>
    <%# end %>
  </tbody>
</table>
<br>
-->

<div class="cards-container">
  <div class="row">
    <% @friends.each do |friend| %>

    <div class="col-sm-6 col-md-6">

      <div class="card">

        <div class="card-front">

          <div class="card-front-main-info">

            <div class="card-user-avatar">
            </div>

            <div class="card-user-name">
              <p class="text-center"><%= friend.first_name %> <%= friend.last_name %></p>
            </div>

            <div class="card-user-relationship">
              <p class="text-center">Friend</p>
            </div>
          </div>

          <div class="card-front-arrow">
            <%= image_tag 'cards_front_arrow.svg' %>
          </div>

          <div class="card-button-content">
            <div class="card-corner-button"></div>

            <div class="card-hazard-warnings hidden">
              <p><%= image_tag 'cards_fire.svg' %> Kind</p>
              <p><%= image_tag 'cards_location' %> Location</p>
              <p><%= image_tag 'cards_loading' %> Status</p>
            </div>
          </div>

        </div>

        <div class="card-back hide">
          <div class="card-back-arrow">
            <%= image_tag 'cards_back_arrow.svg' %>
          </div>

          <div class="card-actions">
            <p><%= image_tag 'cards_edit.svg' %> Edit</p>
            <p><%= image_tag 'cards_delete.svg' %> Unfriend</p>
          </div>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>



