<div class="picture-background">
  <h2 class="landing-logo sign-in-logo">Stay Safe</h2>
  <div class="form-container sign-in">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, label: '&nbsp;'.html_safe, placeholder: "name@email.com", required: true, autofocus: true, label_html: { class: 'icons envelope-icon' } %>
    <%= f.input :password, label: '&nbsp;'.html_safe, required: true, placeholder: "password (#{@minimum_password_length} 6 chars minimum )", label_html: { class: 'icons lock-icon sign-in-password' } %>
    <% if devise_mapping.rememberable? -%>
      <% end -%>
      <%= f.button :submit, "Sign in", class: "form-button" %>
      <% end %>
      <p class="sign-in-forgot-password">Forgot your password?</p>
      <p class="sign-in-facebbok">Login via facebook</p>
      <p class="sign-in-sign-up">Don't have an account?<%= render "devise/shared/links", class: "link-sign-up" %></p>
    </div>

  </div>



