<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stay Safe</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="container">
    <%= render 'shared/flashes' %>
    <%= render 'shared/notifications_tab' if action_name == "index" && controller_name == "friend_requests" || action_name == "index" && controller_name == "hazard_notifications" %>
    <%= yield %>

    <%= render 'shared/navbar' if current_user %>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
    </div>
  </body>
</html>
